body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	background-color: #f1deb7;
}

img {
	width: 345px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.title {
	color: rgb(10, 10, 10);
	font-size: 30px;
}

span.availableBurger {
	display: inline-block;
}

.availbleBurger {
	padding: 10px;
	background-color: #eee;
	width: 300px;
	margin: 10px;
}

.eatBurger {
	margin-left: 20px;
}

.devouredBurger {
	min-width: 300px;
	text-align: left;
}

#burgerName {
    color: black;
}
.burgersAvailable {
	margin-right: 30px;
}